$def with(result)
<h1>Index</h1>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>Nombre</th>
        <th>Actualizar</th>
        <th>Borrar</th>
    </thead>

    <tbody>
        $for row in result:
            <tr>
                <td><a href="/view/$row.id_cliente" >$row.nombre</a></td>
                <td><a href="/update/$row.id_cliente" >Actualizar</a></td>
                <td><a href="/delete/$row.id_cliente" >Borrar</a></td>
            </tr>
    </tbody>
</table>
<br>
<br>